<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#home">RGM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home" data-i18n="nav.home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" data-i18n="nav.about">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience" data-i18n="nav.experience">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education" data-i18n="nav.education">Formación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" data-i18n="nav.contact">Contacto</a>
                </li>
                <li class="nav-item">
                    <button id="languageToggle" class="btn btn-outline-light">EN</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
